.container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background-color: lightblue;
  padding: 20px;
}

img {
  width: 40px;
  float: left;
  padding: 5px;
}